<html>
    <head>
	<title>Clooper</title>
    </head>
    <body>
	<h3>
	    <a href="{{ url_for('home') }}">Example</a>
	</h3>


	<form action="{{ request.path }}" method="post">
	    Name:<br>
	    <input type="text" name="name"><br>
	    <input type="submit" value="Submit">
	</form>


	<table>
	    <thead>
		<tr>
		    <th>Name</th>

		</tr>
	    </thead>

	    <tbody>
	    {% for user in users %}
		<tr>
		    <td>{{ user.name }}</td>
		</tr>
	    {% endfor %}
	    </tbody>
	</table>


    </body>
</html>
